.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__media {
  position: relative;
  width: 44.6rem;
  height: 50rem;
}

.card__media__img {
  @extend %cover;

  object-fit: contain;
}

.card__caption__title {
  @extend %title36;

  margin-top: 7rem;
}
