.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  pointer-events: none;
  z-index: 9998;
}

.cursor_text {
  font-size: 0.875rem;
  font-weight: 500;
  color: whitesmoke;
  transform: translate(-50%, -50%);
  transition: transform 200ms ease-in-out;
  pointer-events: none;
  z-index: 9999;
}
