.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  padding: 2.175rem 0;
  z-index: z("header");
}

.header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  //max-width: 90rem;
  margin: 0 auto;
}

.header__lt {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.header__brand {
  position: relative;
  width: 12.5rem;
  height: 5.8rem;
}

.header__brand__icon {
  @extend %cover;
  top: -0.3rem;
}

.header__nav {
  padding-left: 3rem;
}

.header__nav__list {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.header__nav__item__text {
  @extend %description14;
  @extend %link--hidden;

  font-weight: 900;
  text-transform: uppercase;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__btn__login {
  @extend %button__cta--inactive;
}

.header__btn__register {
  @extend %button__cta--active;
}

//isConnected
.header__rt {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__rt__profil {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
 }

.header__rt__user__media {
  position: relative;
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid $color-cod-gray;
  border-radius: 50rem;
  overflow: hidden;
  cursor: pointer;
}

.header__rt__user__img {
  @extend %cover;

  object-fit: cover;
}

.header__rt__notification,
.header__rt__message {
  position: relative;
  width: 2.75rem;
  height: 2.75rem;
  transition: opacity 100ms linear;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  svg {
    @extend %cover;

    object-fit: cover;
  }
}

.header__rt__btn {
  @extend %button__cta--inactive;
}

//
.header__rt__user__menu {
  position: absolute;
  top: 7rem;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: $color-geyser;
  filter: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.4));
  border-radius: 0.6rem;
  transition: opacity .15s linear;
  z-index: 5;
}

.header__rt__user__menu__nav {
  width: 30rem;
  padding: 1rem 0;
}

.nav__top {
  border-bottom: 0.1rem solid #E8E8E8;
}

.header__rt__user__menu__item {
  display: block;
  padding: 0.7rem 2rem;
  cursor: pointer;

  &:hover {
    background-color: dimgray;
  }
}

.header__rt__user__menu__item__text {
  @extend %description14;
}
