header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  padding: 2.175rem 0;
  z-index: z("header");
}

.header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  //max-width: 90rem;
  margin: 0 auto;
  z-index: 2;
}

.header__nav {
  padding-left: 3rem;
}

.header__nav__list {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.header__nav__link {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: currentColor;
}

.header__nav__item__text {
  @extend %description14;

  font-weight: 900;
  text-transform: uppercase;
}

.header__nav__item__btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .login {
    @extend %button__cta--inactive
  }

  .register {
    @extend %button__cta--active
  }
}

.header__nav__item__btn {
  @extend %button__cta--active;


}
