.home {
  width: 100%;
  height: auto;
  padding: 12rem 0;
}

.home__wrapper {
  width: 100%;
  padding: 0 15rem;
}

.home__box {
  display: inline-block;
  padding: 3rem;
  background-color: white;
}

.home__form__title {
  font: 1.4rem $font-kross;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

.home__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.home__form__input {
  font: 1rem $font-kross;
  font-weight: 400;
  width: 30rem;
  border-radius: 0.5rem;
  background: #efefef;
  padding: 1.5rem;
}

.home__form__input:focus {
  outline: 0.1rem solid black;
}

.home__form__btn {
  display: block;
  font: 1rem $font-kross;
  font-weight: 900;
  color: white;
  width: 30rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 1rem;
  background: orangered;
  transition: backrground 200ms ease-out;
}

.home__form__btn:hover {
  background: orange;
}
