.pres {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $color-geyser;
}

.pres__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0 0 5rem 5rem;
  padding-bottom: 15rem;
  background: $color-alabaster;
}

.pres__bg__media {
  @extend %cover;

  width: 210.8rem;
  height: 770rem;
}

.pres__bg__media__img {
  @extend %cover;

  top: -15rem;
  left: -10rem;
  object-fit: contain;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-17px);
  }
  100% {
    transform: translatey(0px);
  }
}

//title
.pres__title {
  @extend %title64;

  display: inline-block;
  float: right;
  margin: 8.6rem 10rem 37rem 0;
  white-space: nowrap;
}

//hightlight
.pres__hightlight {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8rem;
  padding: 10rem 0;
}

.pres__hightlight__media {
  @extend %cover;

  top: -43rem;
  left: -10rem;
  width: 101.8rem;
  height: 119.7rem;
}

.pres__hightlight__img {
  @extend %cover;

  object-fit: cover;
}

.pres__hightlight__text {
  @extend %title64;

  max-width: 129rem;
  text-align: center;
  z-index: 1;

  strong {
    text-decoration: underline;
  }
}

//services
.pres__services {
  width: 100%;
  height: 100%;
  padding: 5rem 10rem;
  margin-top: 40rem;
  margin-bottom: 40rem;
}

.pres__services__title {
  @extend %title48;

  display: inline-block;
  max-width: 80rem;
  margin-bottom: 14rem;

  strong {
    color: $color-observatory;
    text-decoration: underline;
  }
}

.pres__services__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

//slider
.section-center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140rem;
  height: 42rem;
  margin: 0 auto;
  margin-bottom: 30rem;
  //overflow: hidden;
}

.pres__slider__btns {
  @extend %center;

  gap: 4rem;
  margin-top: 49rem;
}

.pres__slider__btn {
  @extend %button__slide--active;
}

.pres__slider__btn__text {
  @extend %description24;

  span {
    color: $color-mid-gray;
  }
}

//.pres__slider {
//  position: relative;
//  width: 100%;
//  height: 100%;
//}
//
//.pres__slider__wrapper {
//  position: relative;
//  display: flex;
//  align-items: center;
//  width: 120rem;
//  height: 42rem;
//  padding: 10rem;
//  margin-bottom: 15rem;
//  overflow: hidden;
//}

//partners
.pres__partners {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 18rem;
}

.pres__partners__wrapper {
  width: 100%;
  padding: 2rem 10rem;
  margin-bottom: 20rem;
}

.pres__partners__title {
  @extend %title48;

  text-align: center;
  margin-bottom: 14rem;
}

.pres__partners__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pres__partners__item__media {
  position: relative;

  .pres__partners__item:nth-child(1) & {
    width: 32rem;
    height: 8rem;
  }

  .pres__partners__item:nth-child(2) & {
    width: 17rem;
    height: 17rem;
  }

  .pres__partners__item:nth-child(3) & {
    width: 17rem;
    height: 17rem;
  }
}

.pres__partners__item__img {
  @extend %cover;

  object-fit: contain;
  filter: grayscale(100);
}

//symbole
.symbole {
  width: 100%;
  height: 100%;
  margin-top: 50rem;
}

.symbole__wrapper {
  position: relative;
  left: -19rem;
  //transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 30rem;
  margin: 0 auto;
}

.home__symbole {
  left: 0;
}

.symbole__media {
  position: relative;
  width: 35.3rem;
  height: 37.4rem;
}

.symbole__media__img {
  @extend %cover;

  object-fit: cover;
  animation: scale 4s ease-in-out infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}
