%button__cta--active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.1rem 4.5rem;
  border-radius: 50rem;
  background-color: $color-observatory;
  cursor: pointer;

  span {
    @extend %description14;

    color: $color-alabaster;
    text-transform: uppercase;
  }
}

%button__cta--inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.1rem 4.5rem;
  border-radius: 50rem;
  outline: 0.1rem solid $color-observatory;
  background-color: transparent;
  cursor: pointer;

  span {
    @extend %description14;

    color: $color-observatory;
    text-transform: uppercase;
  }
}

%button__slide--active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.1rem;
  border-radius: 50rem;
  background-color: $color-observatory;
  cursor: pointer;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: $color-alabaster;
  }

  .icon__left {
    transform: translateX(-0.2rem);
  }
  .icon__right {
    transform: translateX(0.2rem);
  }
}

%button__slide--inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.1rem;
  border-radius: 50rem;
  outline: 0.1rem solid $color-geyser;
  background-color: transparent;
  cursor: pointer;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: $color-cod-gray;
  }

  .icon__left {
    transform: translateX(-0.2rem);
  }
  .icon__right {
    transform: translateX(0.2rem);
  }
}
