%description14 {
  font: 1.4rem $font-lato;
  font-weight: 600;
}

%description18 {
  font: 1.8rem $font-lato;
  font-weight: 600;
  line-height: 2.2rem;
}

%description24 {
  font: 2.4rem $font-lato;
  font-weight: normal;
}
