.register__profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.register__profil__top {
  margin-bottom: 3rem;
}

.register__profil__top__title {
  @extend %title36;

  margin-bottom: 2rem;
}

.register__profil__top__subtitle {
  @extend %description18;

  max-width: 45rem;
}

.register__profil__checkbox__container {
  display: block;
  margin-bottom: 1rem;
}

.register__profil__checkbox__input {
  position: absolute;
  height: 10px;
  width: 10px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  overflow: hidden;

  &:checked + .register__profil__checkbox__content {
    color: $color-observatory;
    border-color: $color-observatory;
    box-shadow: 0 5px 10px rgba(#000, 0.1);

    &:before {
      opacity: 1;
      transform: scale(1);
      background-color: $color-observatory;
      border-color: $color-observatory;
    }

    .register__profil__checkbox__icon,
    .register__profil__checkbox__block__label {
      color: $color-observatory;
    }
  }

  &:focus + .register__profil__checkbox__content {
    border-color: $color-observatory;

    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.register__profil__checkbox__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
  width: 44rem;
  min-height: 15rem;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #dde2f2;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(#000, 0.1);
  transition: 0.15s ease;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    display: block;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:hover {
    border-color: $color-observatory;

    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.register__profil__checkbox__icon {
  padding: 2rem;
  border-right: 0.1rem solid $color-geyser;

  svg {
    width: 5rem;
    height: 5rem;
  }
}

.register__profil__checkbox__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}

.register__profil__checkbox__block__label {
  @extend %title22;
}

.register__profil__checkbox__block__text {
  @extend %description14;
}
