.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 43rem;
  height: auto;
  padding: 5rem;
  border-radius: 0.5rem;
}

.login__form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.login__form h2 {
  @extend %title36;

  text-align: center;
  padding-bottom: 5rem;
}

.login__form label {
  @extend %description18;
}

.login__form input {
  @extend %description18;

  width: 100%;
  padding: 1.5rem 2rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  background: #efefef;
}

.btn-sign {
  @extend %button__cta--active;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.login__other {
  @extend %description18;
}
