$color-cod-gray: #1D1D1D;
$color-mid-gray: #636369;
$color-geyser: #F7F7F8;
$color-alabaster: #FFFFFF;
$color-observatory: #038272;
$color-magic-mint : #99EBC9;

$font-kross: 'Kross Neue Grotesk';
$font-lato: 'Lato';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'header',
  'footer',
  'content',
);
