@font-face {
  font-family: 'Kross Neue Grotesk';
  src: url('../../assets/fonts/KrossNeueGrotesk-Heavy.woff2') format('woff2'),
  url('../../assets/fonts/KrossNeueGrotesk-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kross Neue Grotesk';
  src: url('../../assets/fonts/KrossNeueGrotesk-Bold.woff2') format('woff2'),
  url('../../assets/fonts/KrossNeueGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kross Neue Grotesk';
  src: url('../../assets/fonts/KrossNeueGrotesk-Regular.woff2') format('woff2'),
  url('../../assets/fonts/KrossNeueGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kross Neue Grotesk';
  src: url('../../assets/fonts/KrossNeueGrotesk-Light.woff2') format('woff2'),
  url('../../assets/fonts/KrossNeueGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
